

.header {
    background-color: #213547;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    right: 0;
    display: block;
    position: fixed;
    z-index: 1000;
    border: 2px solid black;
    height: 170px
}

body {
     padding-top: 100px;
     width:100%; 
     height:100%;
     align-items: center;
     border: 5px solid aqua;
}
/* Gallery.css or App.css */
.gallery {
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 16px;              /* space between images */
  width: 100%;            /* take full column width */
}

.tile {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
}

.tile img {
  width: 50%;
  height: auto;  /* preserve image aspect ratio */
  display: block;
  object-fit: contain; /* makes sure images scale nicely inside the box */
  margin-left: auto;
  margin-right: auto; /* centers block-level elements */
}
